.custom-loader {
    width:100px;
    height:100px;
    border-radius:50%;
    border:16px solid;
    border-color:#c10f1a #0000;
    animation:s1 1s infinite;
    margin-top: 20%;
    margin-left: 50%;
    z-index: 100;
    }
    @keyframes s1 {to{transform: rotate(.5turn)}}



    .custom-loader2 {
        width:25%;
        height:25%;
        margin-top: 5%;
        margin-left: 45%;
        z-index: 100;
        
        }